<!-- UI of  artist detail page--- @author- Ayush Dhimmar---- -->
<!-- Artist detail page -->
<div class="container mt-4">
    <div class="row ">
        <div class="col-12 col-lg-5 col-xxl-4">
            <!-- image-wrapper---- start -->
            <div>
                <div class="cover-image-wrapper rounded">
                    <img class="h-100 w-100" src="../../../assets/images/caught-in-joy-ptVBlniJi50-unsplash 1.png"
                        alt="No image found">
                </div>
                <!-- image preview container --start -->
                <div class="row pt-1 image_wrapper ">
                    <div class="col-4 my-2">
                        <div class="img_preview rounded">
                            <img class="w-100 h-100"
                                src="../../../assets/images/caught-in-joy-ptVBlniJi50-unsplash 1.png"
                                alt="No image found">
                        </div>
                    </div>
                    <div class="col-4 my-2">
                        <div class="img_preview rounded">
                            <img class="w-100 h-100"
                                src="../../../assets/images/caught-in-joy-ptVBlniJi50-unsplash 1.png"
                                alt="No image found">
                        </div>
                    </div>
                    <div class="col-4 my-2">
                        <div class="img_preview rounded">
                            <img class="w-100 h-100"
                                src="../../../assets/images/caught-in-joy-ptVBlniJi50-unsplash 1.png"
                                alt="No image found">
                        </div>
                    </div>
                    <div class="col-4 my-2">
                        <div class="img_preview rounded">
                            <img class="w-100 h-100"
                                src="../../../assets/images/caught-in-joy-ptVBlniJi50-unsplash 1.png"
                                alt="No image found">
                        </div>
                    </div>
                    <div class="col-4 my-2">
                        <div class="img_preview rounded">
                            <img class="w-100 h-100"
                                src="../../../assets/images/caught-in-joy-ptVBlniJi50-unsplash 1.png"
                                alt="No image found">
                        </div>
                    </div>
                </div>
                <!-- image-preview wrapper ---end- -->
            </div>
            <!-- image-wrapper----end -->
        </div>
        <!-- artist-detail-start---- -->
        <div class="col-12 col-lg-7 col-xxl-8">
            <div class="container m-3">
                <!-- artist-details----- -->
                <div class="row">
                    <div class="col-12">
                        <span class="role-title fw-bold pe-2"> ENNA MITCHELL</span>
                        <span class="role-name fw-bold">STUDIO</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mt-3">
                        <p class="available-for-events">Available for events and music classes</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mt-3">
                        <p class="artist-description truncate-overflow">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam voluptas quos
                            exercitationem! Assumenda ex nam suscipit reiciendis, ut incidunt autem voluptate
                            ratione sapiente cum fugit! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus
                            ullam quis repudiandae quas accusamus ad rem qui adipisci libero sint officiis, animi
                            voluptatibus error nam facilis reiciendis at dolorum
                        </p>
                    </div>
                </div>
                <!-- performance-type--start--- -->
                <div class="row ">
                    <div class="col-lg-6 col-md-12 mt-4">
                        <div class="p-3 d-flex artist-detail-field rounded">
                            <div class="icon-wrapper">
                                <span class="icon-Home icon"></span>
                            </div>
                            <div>
                                <p class="event-title">
                                    Performance Type
                                </p>
                                <p class="event-details">
                                    solo performer
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 mt-4">
                        <div class="p-3 d-flex artist-detail-field rounded">
                            <div class="icon-wrapper">
                                <span class="icon-Home icon"></span>
                            </div>
                            <div>
                                <p class="event-title">
                                    Event available from
                                </p>
                                <p class="event-details">
                                    Monday-Friday
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mt-4">
                        <div class="p-3 d-flex artist-detail-field rounded">
                            <div class="icon-wrapper">
                                <span class="icon-Home icon"></span>
                            </div>
                            <div>
                                <p class="event-title">
                                    Price
                                </p>
                                <p class="event-details">
                                    solo performer: &nbsp;<span class="rate rounded p-2">15000 Rs/Event</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-4">
                    <button class="px-3 py-2 text-white rounded button-primary cursor-pointer border-0">Book
                        Now</button>
                </div>
            </div>
        </div>
        <!-- artist-details-end--- -->
    </div>

</div>