<!-- Main section of home starts here -->
<section class="bg-white pb-4">
    <div class="container">
        <div class="row gx-0">
            <!-- Carousel starts here -->
            <ngb-carousel class="col carousel-wrapper overflow-hidden" [showNavigationArrows]="false" [interval]="7000">
                <!-- Displaying dynamic data using iteration -->
                <ng-template ngbSlide *ngFor="let data of carouselData">
                    <!-- Adding background image of caousel -->
                    <div class="picsum-img-wrapper position-relative" *ngFor="let item of data.image">
                        <img class="w-100 img-fluid h-100" src="{{item.img1}}" alt="No Image Found" />
                    </div>
                    <!-- Text to display on caousel -->
                    <div class="carousel-text-wrapper position-absolute top-0 h-100">
                        <div class="carousel-text text-white">
                            <h5>RECENTLY ADDED</h5>
                            <!-- Name of artist or studio -->
                            <span class="text-white role-title fw-bold"> {{data.name + " "}}</span> <span
                                class="role-name fw-bold">{{data.role}}</span>
                            <h4 class="truncate-overflow description">{{data.description}}</h4>
                            <!-- Button to view more details of artist or studio -->
                            <div class="d-none">
                                <a class="btn btn-primary py-2 px-4 my-4">View
                                    Details</a>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-carousel>
            <!-- End of carousel -->
        </div>
    </div>
</section>

<!-- Explore studio starts here-->
<!-- <section class="card-title-wrapper pt-4 " [ngClass]="userTypeId == 1 ? 'd-none' : 'd-block'">
    <div class="container">
        <div class=" d-flex justify-content-between align-items-center pb-4">
            <span class="explore-text text-nowrap">Explore Studio</span>
            <a class="see-all-text text-primary text-nowrap fs-6" (click)="onStudioList()">SEE ALL</a>
        </div>
        <div class="row justify-content-between"> -->
<!-- Displaying studio data on cards dynamically for different size of screens -->
<!-- <div class="col-xxl-2 col-md-4 col-sm-6 col-xs-12 pb-4" *ngFor="let studio of studioRecentSixData">
                <app-cards [data]="studio"></app-cards>
            </div>
        </div>
    </div>
</section> -->
<!-- End of explore studio section -->

<!-- Explore artist starts here -->
<section class="card-title-wrapper pt-4" [ngClass]="userTypeId == 2 ? 'd-none' : 'd-block'">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center pb-4">
            <span class="explore-text text-nowrap">Explore Artist</span>
            <a class="see-all-text text-primary text-nowrap fs-6">SEE ALL</a>
        </div>

        <div class="row justify-content-between">
            <!-- Displaying artist data on cards dynamically for different size of screens -->
            <div class="col-xxl-2 col-md-4 col-sm-6 col-xs-12 cards pb-4"
                *ngFor="let artist of artistRecentSixData; let i = index;">
                <app-cards [data]="artist"></app-cards>
            </div>
        </div>
    </div>
</section>
<!-- End of explore artist section -->
<!-- End of main section -->